
body{
  background-color: green;	
}
div {
  background-color: lightblue;
  width: 400px;
  height: 220px;
  margin-top: 50px;
  margin-left: 50px;
}

form {
  position: absolute;
  background-color: cyan;  
  width: 300px;
  height: 150px;
  margin-top: 0px;
  margin-left: 50px;
}

h3{
  font-family: Sans-Serif;
  text-align: center;
  height: 10px;
}

form button{
  margin: 0 auto;
  text-align: center;
  display: block;  
  font-family: Sans-Serif;
  font-weight: bold;
}
